@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

p {
  @apply text-gray-700 font-normal text-base leading-8;
}

body {
  @apply overflow-x-hidden font-poppins scroll-smooth;
}
html {
  @apply text-black font-normal text-base;
}
ul {
  @apply list-none;
}

section {
  @apply py-40 w-full h-full relative;
}
@layer utilities {
  .container {
    padding: 0 20px;
    margin: 0 auto;
  }
}
